*{border:0;margin:0;padding:0;}
body{font-family: Segoe ui;}
#menu{height:100%;background-color:#efefef;width:140px;float:left;border-right:1px solid #ccc;}
.menu-principal li{display:block;}
#cabecalho{background: #efefef;height:160px;line-height:160px;width:1200px;}
#conteudo{padding:10px;padding-left:20px;height:420px;width:500px;float:left;}
#rodape{height:80px; line-height: 80px; background-color:#222;width:100%;position:fixed;bottom: 0;}
#rodape p{text-align: center;color:#fff;}

.img-logo{position:absolute;top:25px;left:25px;}
.img-logo:hover{opacity: 0.7;}

#menu ul li{overflow:hidden;background:#efefef;border-bottom:1px solid #fff;padding:10px;padding-left:12px;}
#menu ul li a{text-decoration:none;}
#menu ul li:hover{background:#fff;margin-left:-3px;border-left: 3px solid #087137;color:#087137;}

legend{padding-left:8px;padding-right:8px;}

.url{color:#767676;text-decoration:none;font-size:13px;}
.url:hover{color:#333;}
hr{border:1px solid #888; width:85%;}

#formulario fieldset{height:auto;margin-bottom: 10px;padding-left:15px;width:485px;border: solid 1px #ccc;}
#formulario legend{font-size:22pt;font-weight: bolder;}
#formulario label{text-align:right;}

#formulario input{border:1px solid #888; padding:5px;border-radius: 4px;margin:2px;}
#formulario input:hover{-moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;}
#formulario label{display: block;text-align: left;margin:5px;}
.ico{margin:5px;}
.ico:hover{opacity: 0.4;}